<!doctype html>

<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    {% load staticfiles %}
    {% block base_block %}
            {% include 'base/base.html' %}
    {% endblock %}
    
    <script>
        function showText(id,delay){
        var elem=document.getElementById(id);
        setTimeout(function(){elem.style.visibility='visible';},delay*500)
          $("#block1").delay(68000).fadeOut("slow");
          $("#block2").delay(117000).fadeOut("slow");
          $("#block3").delay(160200).fadeOut("slow");
          $("#block4").delay(221000).fadeOut("slow");
          $("#block5").delay(265000).fadeOut("slow");
          $("#block6").delay(398000).show("slow");
        }
        window.onload=function(){
        showText('delayedText0',1);
        showText('delayedText1',37);
        showText('delayedText2',39);

        showText('delayedText3',48);      
        showText('delayedText4',49);
        showText('delayedText5',50);
        showText('delayedText6',54);
        showText('delayedText7',58);

        showText('delayedText8',64);       
        showText('delayedText9',66);
        showText('delayedText10',67);
        showText('delayedText11',70);
        showText('delayedText12',76);
        
        showText('delayedText13',81);     
        showText('delayedText14',83);
        showText('delayedText15',84);
        showText('delayedText16',86);
        showText('delayedText17',93);

        showText('delayedText18',98);       
        showText('delayedText19',100);
        showText('delayedText20',101);
        showText('delayedText21',103);
        showText('delayedText22',109);
        
        showText('delayedText23',114);     
        showText('delayedText24',116);
        showText('delayedText25',117);
        showText('delayedText26',119);
        showText('delayedText27',125);

        showText('delayedText28',146);
        showText('delayedText29',148);

        showText('delayedText30',155);
        showText('delayedText31',157);
        showText('delayedText32',158);
        showText('delayedText33',160);
        showText('delayedText34',166);

        showText('delayedText35',170);
        showText('delayedText36',172);
        showText('delayedText37',173);
        showText('delayedText38',175);
        showText('delayedText39',181);

        showText('delayedText40',186);
        showText('delayedText41',188);
        showText('delayedText42',189);
        showText('delayedText43',191);
        showText('delayedText44',197);

        showText('delayedText45',203);
        showText('delayedText46',205);
        showText('delayedText47',206);
        showText('delayedText48',208);
        showText('delayedText49',214);

        showText('delayedText50',218);
        showText('delayedText51',219);
        showText('delayedText52',221);
        showText('delayedText53',223);
        showText('delayedText54',229);

        showText('delayedText55',236);
        showText('delayedText56',238);

        showText('delayedText57',244);
        showText('delayedText58',246);
        showText('delayedText59',247);
        showText('delayedText60',249);
        showText('delayedText61',255);
        
        showText('delayedText62',262);
        showText('delayedText63',264);
        showText('delayedText64',265);
        showText('delayedText65',267);
        showText('delayedText66',273);

        showText('delayedText67',277);
        showText('delayedText68',279);
        showText('delayedText69',280);
        showText('delayedText70',282);
        showText('delayedText71',288);

        showText('delayedText72',292);
        showText('delayedText73',294);
        showText('delayedText74',296);
        showText('delayedText75',298);
        showText('delayedText76',303);

        showText('delayedText77',308);
        showText('delayedText78',310);
        showText('delayedText79',311);
        showText('delayedText80',313);
        showText('delayedText81',319);

        showText('delayedText82',326);
        showText('delayedText83',328);

        showText('delayedText84',333);
        showText('delayedText85',335);
        showText('delayedText86',336);
        showText('delayedText87',338);
        showText('delayedText88',344);

        showText('delayedText89',350);
        showText('delayedText90',352);
        showText('delayedText91',353);
        showText('delayedText92',355);
        showText('delayedText93',361);

        showText('delayedText94',366);
        showText('delayedText95',367);
        showText('delayedText96',368);
        showText('delayedText97',370);
        showText('delayedText98',376);

        showText('delayedText99',382);
        showText('delayedText100',384);
        showText('delayedText101',385);
        showText('delayedText102',387);
        showText('delayedText103',393);

        showText('delayedText104',397);
        showText('delayedText105',398);
        showText('delayedText106',399);
        showText('delayedText107',401);
        showText('delayedText108',406);

        showText('delayedText109',410);
        showText('delayedText110',411);
        showText('delayedText111',412);
        showText('delayedText112',414);
        showText('delayedText113',420);

        showText('delayedText114',424);
        showText('delayedText115',426);
        showText('delayedText116',427);
        showText('delayedText117',429);
        showText('delayedText118',435);

        showText('delayedText119',445);
        showText('delayedText120',447);

        showText('delayedText121',456);
        showText('delayedText122',457);
        showText('delayedText123',458);
        showText('delayedText124',460);
        showText('delayedText125',467);

        showText('delayedText126',473);
        showText('delayedText127',474);
        showText('delayedText128',475);
        showText('delayedText129',477);
        showText('delayedText130',484);

        showText('delayedText131',490);
        showText('delayedText132',491);
        showText('delayedText133',492);
        showText('delayedText134',494);
        showText('delayedText135',500);

        showText('delayedText136',508);
        showText('delayedText137',509);
        showText('delayedText138',510);
        showText('delayedText139',512);
        showText('delayedText140',518);

        showText('delayedText141',532);
        showText('delayedText142',533);

        showText('delayedText143',542);
        showText('delayedText144',543);
        showText('delayedText145',544);
        showText('delayedText146',546);
        showText('delayedText147',549);

        showText('delayedText148',550);
        showText('delayedText149',551);
        showText('delayedText150',552);
        showText('delayedText151',553);
        showText('delayedText152',558);

        showText('delayedText153',563);
        showText('delayedText154',564);
        showText('delayedText155',565);
        showText('delayedText156',566);
        showText('delayedText157',570);


        }
    </script>   
    
</head>

<body >
   
    <header>

        {% block navbar_block %}
             <a class="btn btn-primary" href="/a/dmin/profile">Profile Page</a>
        {% endblock %}

    </header>

    <div style="background-image: url({% static "img/bg.jpg" %}); height: 720px; width: 1348px; border: 1px solid black;" >   
        <div id="block1" class="rows">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-5" ></div>
            <div id="delayedText1" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">E</p1></div>
            <div id="delayedText2" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">B</p1></div>
   <hr/>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText3" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">B</p1></div>
            <div id="delayedText4" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText5" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EB</p1></div>
            <div id="delayedText6" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText7" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">BEB</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText8" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">L</p1></div>
            <div id="delayedText9" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText10" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EB</p1></div>
            <div id="delayedText11" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText12" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">LEB</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText13" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">M</p1></div>
            <div id="delayedText14" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText15" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EB</p1></div>
            <div id="delayedText16" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText17" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">MEB</p1></div>

            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText18" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">P</p1></div>
            <div id="delayedText19" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText20" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EB</p1></div>
            <div id="delayedText21" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText22" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">PEB</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText23" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">T</p1></div>
            <div id="delayedText24" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText25" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EB</p1></div>
            <div id="delayedText26" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText27" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">TEB</p1></div>

            </div>

            <div id="block2" class="rows">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-5" ></div>
            <div id="delayedText28" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">E</p1></div>
            <div id="delayedText29" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">D</p1></div>
   <hr/>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText30" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">B</p1></div>
            <div id="delayedText31" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText32" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ED</p1></div>
            <div id="delayedText33" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText34" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">BED</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText35" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">F</p1></div>
            <div id="delayedText36" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText37" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ED</p1></div>
            <div id="delayedText38" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText39" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">FED</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText40" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">L</p1></div>
            <div id="delayedText41" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText42" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ED</p1></div>
            <div id="delayedText43" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText44" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">LED</p1></div>

            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText45" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">R</p1></div>
            <div id="delayedText46" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText47" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ED</p1></div>
            <div id="delayedText48" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText49" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">RED</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText50" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">W</p1></div>
            <div id="delayedText51" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText52" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ED</p1></div>
            <div id="delayedText53" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText54" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">WED</p1></div>

            </div>

            <div id="block3" class="rows">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-5" ></div>
            <div id="delayedText55" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">E</p1></div>
            <div id="delayedText56" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">G</p1></div>
   <hr/>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText57" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">B</p1></div>
            <div id="delayedText58" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText59" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EG</p1></div>
            <div id="delayedText60" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText61" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">BEG</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText62" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">W</p1></div>
            <div id="delayedText63" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText64" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EG</p1></div>
            <div id="delayedText65" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText66" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">WEG</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText67" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">L</p1></div>
            <div id="delayedText68" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText69" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EG</p1></div>
            <div id="delayedText70" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText71" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">LEG</p1></div>

            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText72" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">P</p1></div>
            <div id="delayedText73" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText74" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EG</p1></div>
            <div id="delayedText75" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText76" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">PEG</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText77" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">S</p1></div>
            <div id="delayedText78" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText79" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EG</p1></div>
            <div id="delayedText80" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText81" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">SEG</p1></div>
            </div>

            <div id="block4" class="rows">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-5" ></div>
            <div id="delayedText82" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">E</p1></div>
            <div id="delayedText83" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">N</p1></div>
   <hr/>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText84" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">D</p1></div>
            <div id="delayedText85" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText86" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EN</p1></div>
            <div id="delayedText87" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText88" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">DEN</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText89" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">P</p1></div>
            <div id="delayedText90" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText91" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EN</p1></div>
            <div id="delayedText92" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText93" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">PEN</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText94" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">S</p1></div>
            <div id="delayedText95" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText96" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EN</p1></div>
            <div id="delayedText97" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText98" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">SEN</p1></div>

            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText99" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">M</p1></div>
            <div id="delayedText100" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText101" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EN</p1></div>
            <div id="delayedText102" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText103" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">MEN</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText104" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">W</p1></div>
            <div id="delayedText105" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText106" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EN</p1></div>
            <div id="delayedText107" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText108" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">WEN</p1></div>

            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText109" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">Z</p1></div>
            <div id="delayedText110" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText111" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EN</p1></div>
            <div id="delayedText112" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText113" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">ZEN</p1></div>

            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText114" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">T</p1></div>
            <div id="delayedText115" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText116" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EN</p1></div>
            <div id="delayedText117" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText118" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">TEN</p1></div>
            
            </div>
    
            <div id="block5" class="rows">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-5" ></div>
            <div id="delayedText119" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">E</p1></div>
            <div id="delayedText120" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">R</p1></div>
   <hr/>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText121" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">B</p1></div>
            <div id="delayedText122" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText123" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ER</p1></div>
            <div id="delayedText124" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText125" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">BER</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText126" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">D</p1></div>
            <div id="delayedText127" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText128" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ER</p1></div>
            <div id="delayedText129" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText130" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">DER</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText131" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">W</p1></div>
            <div id="delayedText132" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText133" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ER</p1></div>
            <div id="delayedText134" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText135" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">WER</p1></div>

            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText136" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">T</p1></div>
            <div id="delayedText137" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText138" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ER</p1></div>
            <div id="delayedText139" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText140" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">TER</p1></div>
            
            
            </div>
    
            <div id="block6" class="rows">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-5" ></div>
            <div id="delayedText141" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">E</p1></div>
            <div id="delayedText142" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">W</p1></div>
   <hr/>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText143" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">F</p1></div>
            <div id="delayedText144" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText145" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EW</p1></div>
            <div id="delayedText146" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText147" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">FEW</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText148" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">N</p1></div>
            <div id="delayedText149" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText150" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EW</p1></div>
            <div id="delayedText151" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText152" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">NEW</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText153" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">S</p1></div>
            <div id="delayedText154" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText155" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EW</p1></div>
            <div id="delayedText156" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText157" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">SEW</p1></div>

            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText158" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">V</p1></div>
            <div id="delayedText159" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText160" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">EW</p1></div>
            <div id="delayedText161" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText162" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">VEW</p1></div>

        </div>
    </div>
    
    <audio autoplay>
          <source src="{% static "audio/E SOUNDING WORDS, ED,ER,EW.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <footer>
        {% block footer_block %}
            {% include 'base/footer.html' %}
        {% endblock %}
    </footer>

    {% block basefoot_block %}
        {% include 'base/basefoot.html' %}
    {% endblock %}

</body>

</html>
