<!doctype html>

<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    {% load staticfiles %}
    {% block base_block %}
            {% include 'base/base.html' %}
    {% endblock %}
    
    <script>
        function showText(id,delay){
        var elem=document.getElementById(id);
        setTimeout(function(){elem.style.visibility='visible';},delay*1000)
        }
        window.onload=function(){
        showText('delayedText0',0);
        showText('delayedText1',1);
        showText('delayedText2',2);
        showText('delayedText3',3);


        showText('delayedText4',7);
        showText('delayedText5',8);
        showText('delayedText6',9);
        showText('delayedText7',10);
        showText('delayedText8',11);


        showText('delayedText9',16);
        showText('delayedText10',17);
        showText('delayedText11',18);
        showText('delayedText12',19);
        showText('delayedText13',20);


        showText('delayedText14',30);
        showText('delayedText15',31);
        showText('delayedText16',32);
        showText('delayedText17',33);
        showText('delayedText18',34);


        showText('delayedText19',39);
        showText('delayedText20',40);
        showText('delayedText21',41);
        showText('delayedText22',42);
        showText('delayedText23',43);


        showText('delayedText24',48);
        showText('delayedText25',49);
        showText('delayedText26',50);
        showText('delayedText27',51);
        showText('delayedText28',52);


        showText('delayedText29',57);
        showText('delayedText30',58);
        showText('delayedText31',59);
        showText('delayedText32',60);
        showText('delayedText33',61);


        showText('delayedText34',65);
        showText('delayedText35',66);
        showText('delayedText36',67);
        showText('delayedText37',68);
        showText('delayedText38',69);


        showText('delayedText39',74);
        showText('delayedText40',75);
        showText('delayedText41',76);
        showText('delayedText42',77);
        showText('delayedText43',78);


        showText('delayedText44',84);
        showText('delayedText45',85);
        showText('delayedText46',86);
        showText('delayedText47',87);
        showText('delayedText48',88);


        }
    </script>   
    
</head>

<body >
   
    <header>

        {% block navbar_block %}
            <p2 style="color:white"><a href="/base/profile"><p2 style="color:white">Prosperidad</p2></a> : Phonetics 
        {% endblock %}

    </header>

    <div style="background-image: url({% static "img/bg.jpg" %}); height: 620px; width: 1348px; border: 1px solid black;" >   
        <div class="rows">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText1" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">I</p1></div>
            <div id="delayedText2" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">N</p1></div>
            <div id="delayedText3" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">G</p1></div>
   <hr/>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText4" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">L</p1></div>
            <div id="delayedText5" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText6" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ING</p1></div>
            <div id="delayedText7" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText8" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">LING</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText9" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">K</p1></div>
            <div id="delayedText10" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText11" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">IN</p1></div>
            <div id="delayedText12" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText13" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">KING</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText14" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">M</p1></div>
            <div id="delayedText15" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText16" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ING</p1></div>
            <div id="delayedText17" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText18" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">MING</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText19" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">S</p1></div>
            <div id="delayedText20" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
           <div id="delayedText21" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ING</p1></div>
            <div id="delayedText22" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText23" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">SING</p1></div>
                
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText24" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">W</p1></div>
            <div id="delayedText25" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
           <div id="delayedText26" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ING</p1></div>
            <div id="delayedText27" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText28" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">WING</p1></div>
                
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText29" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">P</p1></div>
            <div id="delayedText30" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText31" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ING</p1></div>
            <div id="delayedText32" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText33" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">PING</p1></div>
            
             <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText34" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">R</p1></div>
            <div id="delayedText35" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText36" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ING</p1></div>
            <div id="delayedText37" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText38" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">RING</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText39" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">Z</p1></div>
            <div id="delayedText40" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText41" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ING</p1></div>
            <div id="delayedText42" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText43" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">ZING</p1></div>
            
             <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText44" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">BR</p1></div>
            <div id="delayedText45" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText46" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ING</p1></div>
            <div id="delayedText47" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText48" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">BRING</p1></div>
            
              
                
        </div>
    </div>
    
    <audio autoplay>
          <source src="{% static "audio/ING SOUNDING WORDS.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <footer>
        {% block footer_block %}
            {% include 'base/footer.html' %}
        {% endblock %}
    </footer>

    {% block basefoot_block %}
        {% include 'base/basefoot.html' %}
    {% endblock %}

</body>

</html>
