<!doctype html>

<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    {% load staticfiles %}
    {% block base_block %}
            {% include 'base/base.html' %}
    {% endblock %}
    
    <script>
        function showText(id,delay){
        var elem=document.getElementById(id);
        setTimeout(function(){elem.style.visibility='visible';},delay*1000)
        
        }
        window.onload=function(){
        showText('delayedText0',4);
        showText('delayedText1',8);
        showText('delayedText2',9);
        showText('delayedText3',12);
        showText('delayedText4',14);
        showText('delayedText5',17);
        showText('delayedText6',20);
        
        showText('delayedText7',24);
        showText('delayedText8',25);
        showText('delayedText9',26);
        showText('delayedText10',30);
        
        showText('delayedText11',38);
        showText('delayedText12',39);
        showText('delayedText13',41);
        
        showText('delayedText14',47);
        showText('delayedText15',48);
        showText('delayedText16',52);
        showText('delayedText17',54);
        showText('delayedText18',56);
        showText('delayedText19',59);
        
        showText('delayedText20',63);
        showText('delayedText21',67);
        showText('delayedText22',71);
       showText('delayedText23',73);
       
       
       
        }
    </script>   
    
</head>

<body >
   
    <header>

        {% block navbar_block %}
            <p2 style="color:white"><a href="/base/profile"><p2 style="color:white">Prosperidad</p2></a> : Phonetics 
        {% endblock %}

    </header>

    <div style="background-image: url({% static "img/bg.jpg" %}); height: 620px; width: 1348px; border: 1px solid black;" >   
        <div class="rows">
           <div  id="delayedText0" style="visibility:hidden" class="col-sm-4">
           
           </div>
    <div id="block1">
              <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                
                <div id="delayedText1" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">C</p1></div>
                <div id="delayedText2" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">A</p1></div>
                
           </div>
            
           <hr/>
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
         
                
             <div id="delayedText3" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">CAB</p1></div>
                
                
                
             </div>
          </hr> 
          <div id="delayedText0" style="visibility:hidden" class="col-sm-12" > 
          
                 <div id="delayedText4" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">CAT</p1></div>
            </div>
            
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                <div id="delayedText5" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">CAR</p1></div>
           </div>
            
           </hr> 
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                
                <div id="delayedText6" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">CANDLE</p1></div>
           </div>
     </div>
     
     <div id="block2">       
              </hr>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-12"> 
                 <div id="delayedText7" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">C </p1></div>
                <div id="delayedText8" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">E</p1></div>
           </div>
            
             </hr>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-12"> 
               <div id="delayedText9" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">CEMENT</p1></div>
          
           </div>
            
             </hr> 
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
           <div id="delayedText10" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">CENTIMETER</p1></div>
             </div>
      </div>    
    <div id="block3">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
            <div id="delayedText11" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">C</p1></div>
            <div id="delayedText12" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">I</p1></div>
            </div>
             </hr> 
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
            <div id="delayedText13" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">CIGAR</p1></div>
             </div>
      </div>
             </hr> 
       <div id="block4">     
            
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
            <div id="delayedText14" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">C</p1></div>
            <div id="delayedText15" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">O</p1></div>
            </div>
           
            </hr> 
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
            <div id="delayedText16" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">COMPANY</p1></div>
            </div>
             </hr> 
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
            <div id="delayedText17" style="visibility:hidden" class="col-sm-7"><p1 style="font-size:60px; color:red;">COUNTRY</p1></div>
           </div>
            <div id="delayedText18" style="visibility:hidden" class="col-sm-7"><p1 style="font-size:60px; color:red;">COUNTER</p1></div>
             </hr> 
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
            <div id="delayedText19" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">COME</p1></div>
            </div>
            </hr>
             
     <div id="block5">        
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
            <div id="delayedText20" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">C</p1></div>
            <div id="delayedText21" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">U</p1></div>
            </hr> 
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
            <div id="delayedText22" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">CUP</p1></div>
             </hr> 
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
            <div id="delayedText23" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">CUT</p1></div>
             </hr> 
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12">
            <div id="delayedText24" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">CUTTER</p1></div>
           
                
        </div>
    </div>
    
    <audio autoplay>
          <source src="{% static "audio/MAGIC C_CA,CE,CI.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <footer>
        {% block footer_block %}
            {% include 'base/footer.html' %}
        {% endblock %}
    </footer>

    {% block basefoot_block %}
        {% include 'base/basefoot.html' %}
    {% endblock %}

</body>

</html>
