<!doctype html>

<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    {% load staticfiles %}
    {% block base_block %}
            {% include 'base/base.html' %}
    {% endblock %}
    
    <script>
        function showText(id,delay){
        var elem=document.getElementById(id);
        setTimeout(function(){elem.style.visibility='visible';},delay*500)
        }
        window.onload=function(){
        showText('delayedText0',1);
        showText('delayedText1',4);
        showText('delayedText2',5);
        showText('delayedText3',7);
        
        showText('delayedText4',26);
        showText('delayedText5',28);
        showText('delayedText6',30);
        showText('delayedText7',34);
        showText('delayedText8',40);
        
        showText('delayedText9',58);
        showText('delayedText10',60);
        showText('delayedText11',62);
        showText('delayedText12',66);
        showText('delayedText13',72);
        
        showText('delayedText14',76);
        showText('delayedText15',78);
        showText('delayedText16',80);
        showText('delayedText17',84);
        showText('delayedText18',90);

        showText('delayedText19',96);
        showText('delayedText20',98);
        showText('delayedText21',100);
        showText('delayedText22',104);
        showText('delayedText23',108);

        showText('delayedText24',116);
        showText('delayedText25',117);
        showText('delayedText26',118);
        showText('delayedText27',119);
        showText('delayedText28',120);
        showText('delayedText29',126);
        showText('delayedText30',138);

        showText('delayedText31',146);
        showText('delayedText32',147);
        showText('delayedText33',148);
        showText('delayedText34',149);
        showText('delayedText35',150);
        showText('delayedText36',156);
        showText('delayedText37',176);

        }
    </script>   
    
</head>

<body >
   
    <header>

        {% block navbar_block %}
             <a class="btn btn-primary" href="/a/dmin/profile">Profile Page</a>
        {% endblock %}

    </header>

    <div style="background-image: url({% static "img/bg.jpg" %}); height: 620px; width: 1348px; border: 1px solid black;" >   
        <div class="rows">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText1" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">O</p1></div>
            <div id="delayedText2" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">C</p1></div>
            <div id="delayedText3" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">K</p1></div>
   <hr/>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText4" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">R</p1></div>
            <div id="delayedText5" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText6" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">OCK</p1></div>
            <div id="delayedText7" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText8" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">ROCK</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText9" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">S</p1></div>
            <div id="delayedText10" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText11" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">OCK</p1></div>
            <div id="delayedText12" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText13" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">SOCK</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText14" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">K</p1></div>
            <div id="delayedText15" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText16" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">OCK</p1></div>
            <div id="delayedText17" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText18" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">KOCK</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText19" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">L</p1></div>
            <div id="delayedText20" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText21" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">OCK</p1></div>
            <div id="delayedText22" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText23" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">LOCK</p1></div>

            <div id="delayedText0" style="visibility:hidden" class="col-sm-1" ></div>
            <div id="delayedText24" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">B</p1></div>
            <div id="delayedText25" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText26" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">L</p1></div>
            <div id="delayedText27" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText28" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">OCK</p1></div>
            <div id="delayedText29" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText30" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">BLOCK</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-1" ></div>
            <div id="delayedText31" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">C</p1></div>
            <div id="delayedText32" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText33" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">L</p1></div>
            <div id="delayedText34" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText35" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">OCK</p1></div>
            <div id="delayedText36" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText37" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">CLOCK</p1></div>

            
        </div>
    </div>
    
    <audio autoplay>
          <source src="{% static "audio/OCK SOUNDING WORDS.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <footer>
        {% block footer_block %}
            {% include 'base/footer.html' %}
        {% endblock %}
    </footer>

    {% block basefoot_block %}
        {% include 'base/basefoot.html' %}
    {% endblock %}

</body>

</html>
