<!doctype html>

<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    {% load staticfiles %}
    {% block base_block %}
            {% include 'base/base.html' %}
    {% endblock %}
    
    <script>
        function showText(id,delay){
        var elem=document.getElementById(id);
        setTimeout(function(){elem.style.visibility='visible';},delay*500)
        }
        window.onload=function(){
        showText('delayedText0',2);
        showText('delayedText1',3);
        showText('delayedText2',5);
        showText('delayedText3',6);
        
        showText('delayedText4',16);
        showText('delayedText5',18);
        showText('delayedText6',20);
        showText('delayedText7',22);
        showText('delayedText8',28);
        
        showText('delayedText9',34);
        showText('delayedText10',36);
        showText('delayedText11',38);
        showText('delayedText12',40);
        showText('delayedText13',46);
        
        showText('delayedText14',54);
        showText('delayedText15',56);
        showText('delayedText16',58);
        showText('delayedText17',60);
        showText('delayedText18',66);

        showText('delayedText19',76);
        showText('delayedText20',78);
        showText('delayedText21',80);
        showText('delayedText22',82);
        showText('delayedText23',88);

        showText('delayedText24',92);
        showText('delayedText25',94);
        showText('delayedText26',96);
        showText('delayedText27',98);
        showText('delayedText28',106);

        showText('delayedText29',110);
        showText('delayedText30',112);
        showText('delayedText31',114);
        showText('delayedText32',116);
        showText('delayedText33',120);

        showText('delayedText34',132);
        showText('delayedText35',134);
        showText('delayedText36',136);
        showText('delayedText37',138);
        showText('delayedText38',142);

        }
    </script>   
    
</head>

<body >
   
    <header>

        {% block navbar_block %}
             <a class="btn btn-primary" href="/a/dmin/profile">Profile Page</a>
        {% endblock %}

    </header>

    <div style="background-image: url({% static "img/bg.jpg" %}); height: 620px; width: 1348px; border: 1px solid black;" >   
        <div class="rows">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText1" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">O</p1></div>
            <div id="delayedText2" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">N</p1></div>
            <div id="delayedText3" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">G</p1></div>
   <hr/>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText4" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">L</p1></div>
            <div id="delayedText5" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText6" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ONG</p1></div>
            <div id="delayedText7" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText8" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">LONG</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText9" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">M</p1></div>
            <div id="delayedText10" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText11" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ONG</p1></div>
            <div id="delayedText12" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText13" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">MONG</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText14" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">B</p1></div>
            <div id="delayedText15" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText16" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ONG</p1></div>
            <div id="delayedText17" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText18" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">BONG</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText19" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">J</p1></div>
            <div id="delayedText20" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText21" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ONG</p1></div>
            <div id="delayedText22" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText23" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">JONG</p1></div>

            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText24" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">S</p1></div>
            <div id="delayedText25" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText26" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ONG</p1></div>
            <div id="delayedText27" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText28" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">SONG</p1></div>
            
            <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
            <div id="delayedText29" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">T</p1></div>
            <div id="delayedText30" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
            <div id="delayedText31" style="visibility:hidden" class="col-sm-2"><p1 style="font-size:60px; color:red;">ONG</p1></div>
            <div id="delayedText32" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText33" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">TONG</p1></div>

        </div>
    </div>
    
    <audio autoplay>
          <source src="{% static "audio/ONG SOUNDING WORDS.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <footer>
        {% block footer_block %}
            {% include 'base/footer.html' %}
        {% endblock %}
    </footer>

    {% block basefoot_block %}
        {% include 'base/basefoot.html' %}
    {% endblock %}

</body>

</html>
