<!doctype html>

<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    {% load staticfiles %}
    {% block base_block %}
            {% include 'base/base.html' %}
    {% endblock %}
    
    <script>
        function showText(id,delay){
        var elem=document.getElementById(id);
        setTimeout(function(){elem.style.visibility='visible';},delay*1000)
        }
        window.onload=function(){
        showText('delayedText1',4);
        showText('delayedText2',5);
        showText('delayedText3',6);
        showText('delayedText4',7);

        showText('delayedText5',8);
        showText('delayedText6',9);
        showText('delayedText7',10);
        showText('delayedText8',11);
        showText('delayedText9',12);

        showText('delayedText10',19);
        showText('delayedText11',20);
        showText('delayedText12',21);
        showText('delayedText13',22);
        showText('delayedText14',23);

        showText('delayedText15',28);
        showText('delayedText16',29);
        showText('delayedText17',30);
        showText('delayedText18',31);
        showText('delayedText19',32);

        showText('delayedText20',38);
        showText('delayedText21',39);
        showText('delayedText22',40);
        showText('delayedText23',41);
        showText('delayedText24',42);

        showText('delayedText30',48);
        showText('delayedText31',49);
        showText('delayedText32',50);
        showText('delayedText33',51);
        showText('delayedText34',52);

        showText('delayedText35',59);
        showText('delayedText36',60);
        showText('delayedText37',61);
        showText('delayedText38',62);
        showText('delayedText39',63);

        showText('delayedText40',69);
        showText('delayedText41',70);
        showText('delayedText42',71);
        showText('delayedText43',72);
        showText('delayedText44',73);

        showText('delayedText45',78);
        showText('delayedText46',79);
        showText('delayedText47',80);
        showText('delayedText48',81);
        showText('delayedText49',82);

        showText('delayedText50',87);
        showText('delayedText51',88);
        showText('delayedText52',89);
        showText('delayedText53',90);
        showText('delayedText54',91);

        showText('delayedText59',96);
        showText('delayedText60',97);
        showText('delayedText61',98);
        showText('delayedText62',99);
        showText('delayedText63',100);

        showText('delayedText64',108);
        showText('delayedText65',109);
        showText('delayedText66',110);
        showText('delayedText67',111);
        showText('delayedText68',112);

        showText('delayedText69',118);
        showText('delayedText70',119);
        showText('delayedText71',120);
        showText('delayedText72',121);
        showText('delayedText73',122);

        showText('delayedText74',131);
        showText('delayedText75',132);
        showText('delayedText76',133);
        showText('delayedText77',134);
        showText('delayedText78',135);

        showText('delayedText79',140);
        showText('delayedText80',141);
        showText('delayedText81',142);
        showText('delayedText82',143);
        showText('delayedText83',144);

        showText('delayedText84',150);
        showText('delayedText85',151);
        showText('delayedText86',152);
        showText('delayedText87',153);
        showText('delayedText88',154);

        showText('delayedText89',160);
        showText('delayedText90',161);
        showText('delayedText91',162);
        showText('delayedText92',163);
        showText('delayedText93',164);

        showText('delayedText94',170);
        showText('delayedText95',171);
        showText('delayedText96',172);
        showText('delayedText97',173);
showText('delayedText98',174);
showText('delayedText99',175);

        
        
        }
    </script>   
    
</head>

<body >
   
    <header>

        {% block navbar_block %}
            <p2 style="color:white"><a href="/base/profile"><p2 style="color:white">Prosperidad</p2></a> : Phonetics 
        {% endblock %}

    </header>

    <div style="background-image: url({% static "img/bg.jpg" %}); height: 800px; width: 1300px;" >   
        <div class="rows">
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
                <div id="delayedText1" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">O</p1></div>
                <div id="delayedText2" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">O</p1></div>
                <div id="delayedText3" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText4" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">OO</p1></div>
           </div>
            
           <hr/>
             <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText5" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">B</p1></div>
                <div id="delayedText6" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText7" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+K</p1></div>
                <div id="delayedText8" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText9" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">BOOK</p1></div>
            </div>
          </hr> 
          <div id="delayedText0" style="visibility:hidden" class="col-sm-12" > 
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText10" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">C</p1></div>
                <div id="delayedText11" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText12" style="visibility:hidden" class="col-sm-3" ><p1 style="font-size:60px; color:red;">OO+K</p1></div>
                <div id="delayedText13" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;"> =</p1></div>
                <div id="delayedText14" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">COOK</p1></div>
            </div>
            
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText15" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">L</p1></div>
                <div id="delayedText16" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText17" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+K</p1></div>
                <div id="delayedText18" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText19" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">LOOK</p1></div>
           </div>
            
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText20" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">T</p1></div>
                <div id="delayedText21" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText22" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+K</p1></div>
                <div id="delayedText23" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText24" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">TOOK</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText25" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">H</p1></div>
                <div id="delayedText26" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText27" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+K</p1></div>
                <div id="delayedText28" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText29" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">HOOK</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText30" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">SH</p1></div>
                <div id="delayedText31" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText32" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+K</p1></div>
                <div id="delayedText33" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText34" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">SHOOK</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText35" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">G</p1></div>
                <div id="delayedText36" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText37" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+D</p1></div>
                <div id="delayedText38" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText39" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">GOOD</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText40" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">W</p1></div>
                <div id="delayedText41" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText42" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+D</p1></div>
                <div id="delayedText43" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText44" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">WOOD</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText45" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">M</p1></div>
                <div id="delayedText46" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText47" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+D</p1></div>
                <div id="delayedText48" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText49" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">MOOD</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText50" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">ST</p1></div>
                <div id="delayedText51" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText52" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+D</p1></div>
                <div id="delayedText53" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText54" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">STOOD</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText55" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">H</p1></div>
                <div id="delayedText56" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText57" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+D</p1></div>
                <div id="delayedText58" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText59" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">HOOD</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText60" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">F</p1></div>
                <div id="delayedText61" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText62" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+D</p1></div>
                <div id="delayedText63" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText64" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">FOOD</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText65" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">M</p1></div>
                <div id="delayedText66" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText67" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+D</p1></div>
                <div id="delayedText68" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText69" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">MOOD</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText70" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">N</p1></div>
                <div id="delayedText71" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText72" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+N</p1></div>
                <div id="delayedText73" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText74" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">NOON</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText75" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">S</p1></div>
                <div id="delayedText76" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText77" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+N</p1></div>
                <div id="delayedText78" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText79" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">SOON</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText80" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">B</p1></div>
                <div id="delayedText81" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText82" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+N</p1></div>
                <div id="delayedText83" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText84" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">BOON</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText85" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">M</p1></div>
                <div id="delayedText86" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText87" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+N</p1></div>
                <div id="delayedText88" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText89" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">MOON</p1></div>
           </div>
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText90" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;"T ></p1></div>
                <div id="delayedText91" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText92" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+L</p1></div>
                <div id="delayedText93" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText94" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">TOOL</p1></div>
           </div
           </hr>
           <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
                 <div id="delayedText0" style="visibility:hidden" class="col-sm-2" ></div>
                <div id="delayedText95" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">W</p1></div>
                <div id="delayedText96" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">+</p1></div>
                <div id="delayedText97" style="visibility:hidden" class="col-sm-3"><p1 style="font-size:60px; color:red;">OO+L</p1></div>
                <div id="delayedText98" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">=</p1></div>
                <div id="delayedText99" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">WOOL</p1></div>
           </div>
           
            
             </hr> 
             
            
           
        </div>
    </div>
    
    <audio autoplay>
          <source src="{% static "audio/OO SOUNDING WORDS.mp3"%}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <footer>
        {% block footer_block %}
            {% include 'base/footer.html' %}
        {% endblock %}
    </footer>

    {% block basefoot_block %}
        {% include 'base/basefoot.html' %}
    {% endblock %}

</body>

</html>
