<!doctype html>

<!--[if lt IE 7]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    {% load staticfiles %}
    {% block base_block %}
            {% include 'base/base.html' %}
    {% endblock %}
    
    <script>
        function showText(id,delay){
        var elem=document.getElementById(id);
        setTimeout(function(){elem.style.visibility='visible';},delay*1000)
        }
        window.onload=function(){
        showText('delayedText0',1);
        showText('delayedText1',9);
        showText('delayedText2',12);
        showText('delayedText3',13);
        
        showText('delayedText4',15);
        showText('delayedText5',18);
        showText('delayedText6',20);
        showText('delayedText7',22);
        showText('delayedText8',24);
        
        showText('delayedText9',26);
        showText('delayedText10',28);
        
       
        }
    </script>   
    
</head>

<body >
   
    <header>

        {% block navbar_block %}
            <p2 style="color:white"><a href="/base/profile"><p2 style="color:white">Prosperidad</p2></a> : Phonetics 
        {% endblock %}

    </header>

    <div style="background-image: url({% static "img/bg.jpg" %}); height: 800px; width: 1348px; border: 1px solid black;" >   
        <div class="rows">
            <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText1" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">KN</p1></div>
            <div id="delayedText2" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">=</p1></div>
            <div id="delayedText3" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">N</p1></div>
   
            <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
             <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText4" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">KNOW</p1></div></div>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
             <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText5" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">KNOB</p1></div></div>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
             <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText6" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">KNOCK</p1></div></div>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
             <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText7" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">KNIFE</p1></div></div>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
             <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText8" style="visibility:hidden" class="col-sm-1"><p1 style="font-size:60px; color:red;">KNEE</p1></div></div>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
             <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText9" style="visibility:hidden" class="col-sm-1" ><p1 style="font-size:60px; color:red;">KNOW</p1></div></div>
            <div id="delayedText0" style="visibility:hidden" class="col-sm-12" >
             <div id="delayedText0" style="visibility:hidden" class="col-sm-4" ></div>
            <div id="delayedText10" style="visibility:hidden" ><p1 style="font-size:60px; color:red;">KNOT</p1></div>
            </div>
            
        </div>
    </div>
    
    <audio autoplay>
          <source src="{% static "audio/SILENT K WORDS.mp3" %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <footer>
        {% block footer_block %}
            {% include 'base/footer.html' %}
        {% endblock %}
    </footer>

    {% block basefoot_block %}
        {% include 'base/basefoot.html' %}
    {% endblock %}

</body>

</html>
