<!DOCTYPE html>
 {% extends 'etests/odd_one_out.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block odd_one_out_test %}

            <div class="circle col-sm-3" >
            <button class="circle" onclick="marks(0)";>mug</button></div>           
            <div class="circle col-sm-3" >
            <button class="circle" onclick="marks(1)";>lip</button></div>
            <div class="circle col-sm-3" >
            <button class="circle" onclick="marks(0)";>rug</button></div>
            <div class="circle col-sm-3">
            <button class="circle" onclick="marks(0)";>hug</button></div>
            
            <div class="col-sm-12" >.</div>
            <div class="col-sm-12" >.</div>
            <div class="col-sm-3" ></div>
            <div id="ans_area" class="col-sm-3" h3>

            </div>     
    {% endblock %}

</body>

</html>
