<!DOCTYPE html>
 {% extends 'etests/on_in.html' %}

<head>
    {% load staticfiles %}
</head>

<body >
       
    {% block on_in_test %}
            <div class="col-sm-2">
            <img src={% static "img/hut.jpg" %} width=250px height=240px/></div>
            
            <div id="ztext_right" class="col-sm-4">A man is</div>
            <div id="zblank1" class="zblank col-sm-2"></div>
            <div id="ztext" class="col-sm-4">the bus</div>
            <div class="col-sm-12" >.</div>

            
            <div class="col-sm-12" ><hr/></div>
           
            
            <div id="zans0" class="zans col-sm-2"><p>on<p></div>
            <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans1" class="zans col-sm-2"><p>in</p></div>

            <div id="ans_area" class="col-sm-3" h3></div>
            
    {% endblock %}

</body>
    {% block on_in_test_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",2);
		 
	      </script>
    {% endblock %}
</html>
