<!DOCTYPE html>
 {% extends 'etests/proper_word.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block proper_word_test %}
            <div class="col-sm-2">
            <img src={% static "img/hut.jpg" %} width=250px height=240px/></div>
            
            <div id="ztext_right" class="col-sm-1">A</div>
            <div id="zblank1" class="zblank col-sm-2"></div>
            <div id="ztext" class="col-sm-3">is on the</div>
	    <div id="zblank2" class="zblank col-sm-2"></div>
            <div class="col-sm-12" >.</div>

            
            <div class="col-sm-12" ><hr/></div>
           
            
            <div id="zans0" class="zans col-sm-2"><p>rat<p></div>
            <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans1" class="zans col-sm-2"><p>hat</p></div>
	    <div class="col-sm-1"></div>
            <div id="zans2" class="zans col-sm-2"><p>mat</p></div>
            <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans3" class="zans col-sm-2"><p>fat</p></div>

            <div id="ans_area" class="col-sm-1" h3></div>
            
    {% endblock %}

</body>
	{% block proper_word_test_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",1);
		 localStorage.setItem("pos2",3);

	      </script>
    	{% endblock %}

</html>
