<!DOCTYPE html>
 {% extends 'etests/this_that.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body>
       
    {% block this_that_test %}
            <div class="col-sm-2">
            <img src={% static "img/jar.png" %} width=250px height=240px/></div>
                                  
	    <div id="zblank1" class="zblank col-sm-2"></div>	    
            <div id="ztext" class="col-sm-4">is a jar</div>
            <div class="col-sm-12" >.</div>

            
            <div class="col-sm-12" ><hr/></div>
           
            
            <div id="zans0" class="zans col-sm-3"><p>This</p></div>
            <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans1" class="zans col-sm-3"><p>That</p></div>

            <div id="ans_area" class="col-sm-3" h3></div>
            
    {% endblock %}

</body>
	{% block this_that_test_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",1);
		 
	      </script>
        {% endblock %}

</html>
