<!DOCTYPE html>
 {% extends 'etests/etest_base.html' %}

<html>
    <head>
        <title>Test</title>  
    </head>

    <body>

        {% block test_body %}
        <div id="test_area">
        {% include 'etests/english_q1.html' %}
        </div>
         <button id="prev" test-action="1" class="btn btn-large btn-primary" type="button">Previous</button>
         <button id="next" test-action="2" class="btn btn-large btn-primary" type="button">Next</button>
         <button id="subm" test-action="0" class="btn btn-large btn-primary" type="button">Submit</button>
        
        {% endblock %}

    </body>
</html>






