<!DOCTYPE html>


<html>
    <head>
        <title>Test</title>
        {% load staticfiles %}
        {% block base_block %}
            {% include 'base/base.html' %}
        {% endblock %}
        
        
    </head>

    <body>
        <header>
        {% block navbar_block %}
            <a class="btn btn-primary" href="/a/dmin/profile">Profile Page</a>
        {% endblock %}     
        </header>

        {% block test_body %}
            This is test body
        {% endblock %}
        
        {% block basefoot_block %}
            {% include 'base/basefoot.html' %}
        {% endblock %}
    
    </body>
</html>






