<!DOCTYPE html>
 {% extends 'etests/l1_eng_match2.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block l1_eng_match2_test %}
            <div class="col-sm-12" > 
                <div class="col-sm-3">.</div>    
            	<div id="zans0" class="zans col-sm-4"><p>B</p></div>
		        <div class="col-sm-3">
                    <img src={% static "img/Level1/ETest2/apple.jpeg" %} width=100px height=100px/></div>
                <div id="zblank1" class="zblank col-sm-2"></div>
		    </div>    
            <div class="col-sm-12" > 
                <div class="col-sm-3">.</div>         
            	<div id="zans1" class="zans col-sm-4"><p>C</p></div>
		        <div class="col-sm-3">
            	    <img src={% static "img/Level1/ETest2/eye.jpeg" %} width=100px height=100px/></div>
                <div id="zblank2" class="zblank col-sm-2"></div>
		    </div>
            <div class="col-sm-12" > 
                <div class="col-sm-3">.</div>         
                <div id="zans2" class="zans col-sm-4"><p>D</p></div>
		        <div class="col-sm-3">
            		<img src={% static "img/Level1/ETest2/grapes.jpeg" %} width=100px height=100px/></div>
                <div id="zblank3" class="zblank col-sm-2"></div>
		    </div>  
            <div class="col-sm-12" >
                <div class="col-sm-3">.</div>          
            	<div id="zans3" class="zans col-sm-4"><p>F</p></div>
		        <div class="col-sm-3">
            		<img src={% static "img/Level1/ETest2/baby.jpeg" %} width=100px height=100px/></div>
	    	    <div id="zblank4" class="zblank col-sm-2"></div>	
	        </div>    
	        <div class="col-sm-12" >
                <div class="col-sm-3">.</div>          
            	<div id="zans4" class="zans col-sm-4"><p>G</p></div>
		        <div class="col-sm-3">
                    <img src={% static "img/Level1/ETest2/dog.jpg" %} width=100px height=100px/></div>          
	    	    <div id="zblank5" class="zblank col-sm-2"></div>	
	        </div>    
            <div class="col-sm-12" >
                <div class="col-sm-3">.</div>     
                <div id="zans5" class="zans col-sm-4"><p>E</p></div>
                <div class="col-sm-3">
                    <img src={% static "img/Level1/ETest2/cat.png" %} width=100px height=100px/></div>    
	    	    <div id="zblank6" class="zblank col-sm-2"></div>	
	        </div>
             <div class="col-sm-12" >  
                <div class="col-sm-3">.</div>        
            	<div id="zans6" class="zans col-sm-4"><p>A</p></div>
		        <div class="col-sm-3">
            		<img src={% static "img/Level1/ETest2/fish.png" %} width=100px height=100px/></div>
	    	    <div id="zblank7" class="zblank col-sm-1"></div>
	        </div>
            <div class="col-sm-12" ><hr/>
                <div id="ans_area" class="col-sm-3" h3></div>	
            </div>
           
            
            
    {% endblock %}

</body>
     {% block l1_eng_match2_header %}  
	   <script type="text/javascript">
	     localStorage.setItem("pos1",7);
	     localStorage.setItem("pos2",6);
             localStorage.setItem("pos3",5);
             localStorage.setItem("pos4",1);	     
             localStorage.setItem("pos5",3);
             localStorage.setItem("pos6",2);
             localStorage.setItem("pos7",4);
         </script>
    
    {% endblock %}
</html>
