<!DOCTYPE html>
 {% extends 'etests/l1_eng_properalphabet.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
   {% block l1_eng_properalphabet_test %}
        <div class="col-sm-12">
            <div class="col-sm-2"><img src={% static "img/egg.gif" %} width=100px height=150px /></div>
            
            <div class="circle col-sm-1" >
            <button class="circle" onclick="marks(0)";>A</button></div>
            <div class="circle col-sm-1" >
            <button class="circle" onclick="marks(0)";>F</button></div>
            <div class="circle col-sm-1">
            <button class="circle" onclick="marks(0)";>C</button></div>
            <div class="circle col-sm-1">
            <button class="circle" onclick="marks(0)";>G</button></div>
            <div class="circle col-sm-1">
            <button class="circle" onclick="marks(1)";>E</button></div>
            <div class="circle col-sm-1">
            <button class="circle" onclick="marks(0)";>B</button></div>
            <div class="circle col-sm-1">
            <button class="circle" onclick="marks(0)";>D</button></div>

            
            <div class="col-sm-2" ></div>
            <div id="ans_area" class="col-sm-2" h3>

            </div>      
  </div>   
    {% endblock %}

</body>

</html>
