<!DOCTYPE html>
 {% extends 'etests/l1_eng_circleproperpic.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block l1_eng_circleproperpic_test %}
            <div class="col-sm-12">
                <div id="ztext_right" class="col-sm-2">B</div>
               
                
                <div class="circle col-sm-2" >
                <button class="circle" onclick="marks(0)";><img src={% static "img/Level1/ETest3/cake.png" %} width=150px height=100px/></button>
                </div>
                <div class="circle col-sm-2" >
                <button class="circle" onclick="marks(1)";><img src={% static "img/Level1/ETest3/baby.png" %} width=100px height=100px/></button></div>
                <div class="circle col-sm-2">
                <button class="circle" onclick="marks(0)";><img src={% static "img/Level1/ETest3/aeroplane.png" %} width=100px height=100px/></button></div>
                
                <div class="circle col-sm-2" >
                <button class="circle" onclick="marks(0)";><img src={% static "img/Level1/ETest3/dish.jpeg" %} width=150px height=80px/></button></div>
            
            </div>
            <div class="col-sm-12">.</div>
            <div class="col-sm-12">.</div>
            <div class="col-sm-12">.</div>
             <div class="col-sm-12" ><hr/></div>
            <div id="ans_area" class="col-sm-2" h3>

            </div>            
    {% endblock %}

</body>

</html>
