<!DOCTYPE html>
 {% extends 'etests/l1_eng_006_oddoneout.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block l1_eng_006_oddoneout_test %}
	<div class="col-sm-12">
            <div class="circle col-sm-2" >
            <button class="circle" onclick="marks(0)";><img src={% static "img/ant.png" %} width=100px height=100px/></button></div>           
            <div class="circle col-sm-2" >
            <button class="circle" onclick="marks(0)";><img src={% static "img/apple.jpeg" %} width=100px height=100px/></button></div>
            <div class="circle col-sm-2" >
            <button class="circle" onclick="marks(0)";><img src={% static "img/aeroplane1.jpeg" %} width=100px height=100px/></button></div>
            <div class="circle col-sm-2">
            <button class="circle" onclick="marks(1)";><img src={% static "img/baby.png" %} width=100px height=100px/></button></div>
            <div class="circle col-sm-2">
            <button class="circle" onclick="marks(0)";><img src={% static "img/axe.jpg" %} width=100px height=100px/></button></div>
            
           </div>
	   <div class="col-sm-12" ><hr/></div>
            <div class="col-sm-12" >
            <div id="ans_area" class="col-sm-2" h3>	 
            </div>     
	    </div>
    {% endblock %}

</body>

</html>
