<!DOCTYPE html>
 {% extends 'etests/l1_maths_003_circlepropernum.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block l1_maths_003_circlepropernum_test %}
        <div class="col-sm-12">
                
          <div class="col-sm-2"><img src={% static "img/Level1/MTest3/tree.jpg" %} width=150px height=150px /></div>
          <div class="col-sm-2"><img src={% static "img/Level1/MTest3/tree.jpg" %} width=150px height=150px /></div>

            <div class="circle col-sm-2" >
            <button class="circle" onclick="marks(0)";>3</button></div>
            <div class="circle col-sm-2" >
            <button class="circle" onclick="marks(1)";>2</button></div>
            <div class="circle col-sm-2">
            <button class="circle" onclick="marks(0)";>1</button></div>
            

        </div> 
	<div class="col-sm-12"><hr/></div>
	<div class="col-sm-12">
		<div id="ans_area" class="col-sm-2" h3></div>
	</div>      
    {% endblock %}

</body>

</html>
