<!DOCTYPE html>
 {% extends 'etests/l1_maths_007_matchnum.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block l1_maths_007_matchnum_test %}
            <div class="col-sm-12" >   
                <div class="col-sm-3">.</div>   
            	<div id="zans0" class="zans col-sm-2"><p>1</p></div>
		       <div class="col-sm-4">
                    <img src={% static "img/Level1/MTest7/flower.jpg" %} width=90px height=90px/>
               
                    <img src={% static "img/Level1/MTest7/flower.jpg" %} width=90px height=90px/>
                
                    <img src={% static "img/Level1/MTest7/flower.jpg" %} width=90px height=90px/></div>
	    	    <div id="zblank1" class="zblank col-sm-2"></div>	
	       </div>    
	    
            <div class="col-sm-12" >  
                <div class="col-sm-3">.</div>      
            	<div id="zans1" class="zans col-sm-2"><p>2</p></div>
                <div class="col-sm-4">
                    <img src={% static "img/Level1/MTest7/sun.gif" %} width=90px height=90px/></div>
	    	    <div id="zblank2" class="zblank col-sm-2"></div>	
	       </div>  

	        <div class="col-sm-12" >   
                <div class="col-sm-3">.</div>     
            	<div id="zans2" class="zans col-sm-2"><p>3</p></div>
		        <div class="col-sm-4">
                    <img src={% static "img/Level1/MTest7/fish.png" %} width=90px height=90px/>
                
                    <img src={% static "img/Level1/MTest7/fish.png" %} width=90px height=90px/></div>
	    	    <div id="zblank3" class="zblank col-sm-2"></div>	
	       </div> 
            <div class="col-sm-12" ><hr/></div>
           
            <div id="ans_area" class="col-sm-2" h3></div>
            
    {% endblock %}

</body>
    {% block l1_maths_007_matchnum_header %}  
	   <script type="text/javascript">
	     localStorage.setItem("pos1",3);
	     localStorage.setItem("pos2",1);
         localStorage.setItem("pos3",2);
             
         </script>
    {% endblock %}
</html>
