<!DOCTYPE html>
 {% extends 'etests/l1_maths_001_matchnum.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block l1_maths_001_matchnum_test %}
            <div class="col-sm-12" >      
            	<div id="zans0" class="zans col-sm-3"><p>1</p></div>
		        <div id="ztext_right" class="col-sm-1">5</div>
	    	<div id="zblank1" class="zblank col-sm-6"></div>	
	    </div>    
	    
            <div class="col-sm-12" >      
            	<div id="zans1" class="zans col-sm-3"><p>2</p></div>
		        <div id="ztext_right" class="col-sm-1">4</div>
	    	<div id="zblank2" class="zblank col-sm-3"></div>	
	    </div>  
	   
            <div class="col-sm-12" >      
            	<div id="zans2" class="zans col-sm-3"><p>3</p></div>
		        <div id="ztext_right" class="col-sm-1">2</div>
	    	<div id="zblank3" class="zblank col-sm-3"></div>	
	    </div>    
	    
            <div class="col-sm-12" >      
            	<div id="zans3" class="zans col-sm-3"><p>4</p></div>
		        <div id="ztext_right" class="col-sm-1">1</div>
	    	<div id="zblank4" class="zblank col-sm-3"></div>	
	    </div>    
	    
	    <div class="col-sm-12" >      
            	<div id="zans4" class="zans col-sm-3"><p>5</p></div>
		        <div id="ztext_right" class="col-sm-1">3</div>
	    	<div id="zblank5" class="zblank col-sm-3"></div>	
	    </div>
	    
           
            <div class="col-sm-12" ><hr/></div>
           
            <div id="ans_area" class="col-sm-3" h3></div>
            
    {% endblock %}

</body>
    {% block l1_maths_001_matchnum_header %}  
	   <script type="text/javascript">
	         localStorage.setItem("pos1",5);
	         localStorage.setItem("pos2",4);
             localStorage.setItem("pos3",2);
             localStorage.setItem("pos4",1);	     
             localStorage.setItem("pos5",3);
            
         </script>
    {% endblock %}
</html>
