<!DOCTYPE html>
 {% extends 'etests/l2_eng_001_match.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block l2_eng_001_match_test %}
            <div class="col-sm-12" >  
                <div class="col-sm-3">.</div>    
            	<div id="zans0" class="zans col-sm-4"><p>A</p></div>
		        <div id="ztext_right" class="col-sm-3">f</div>
	    	    <div id="zblank1" class="zblank col-sm-2"></div>	
	        </div>    
	    
            <div class="col-sm-12" > 
                <div class="col-sm-3">.</div>      
            	<div id="zans1" class="zans col-sm-4"><p>B</p></div>
		        <div id="ztext_right" class="col-sm-3">g</div>
	    	    <div id="zblank2" class="zblank col-sm-2"></div>	
	        </div>  
	   
            <div class="col-sm-12" > 
                <div class="col-sm-3">.</div>      
            	<div id="zans2" class="zans col-sm-4"><p>C</p></div>
		        <div id="ztext_right" class="col-sm-3">d</div>
	    	    <div id="zblank3" class="zblank col-sm-2"></div>	
	        </div>    
	    
            <div class="col-sm-12" >
                <div class="col-sm-3">.</div>       
            	<div id="zans3" class="zans col-sm-4"><p>D</p></div>
		        <div id="ztext_right" class="col-sm-3">c</div>
	    	    <div id="zblank4" class="zblank col-sm-2"></div>	
	        </div>    
	    
	        <div class="col-sm-12" > 
                    <div class="col-sm-3">.</div>      
                	<div id="zans4" class="zans col-sm-4"><p>E</p></div>
		            <div id="ztext_right" class="col-sm-3">b</div>
	        	    <div id="zblank5" class="zblank col-sm-2"></div>	
	        </div>
	    
            <div class="col-sm-12" > 
                <div class="col-sm-3">.</div>      
            	<div id="zans5" class="zans col-sm-4"><p>F</p></div>
		        <div id="ztext_right" class="col-sm-3">a</div>
	    	    <div id="zblank6" class="zblank col-sm-2"></div>	
	        </div>    
	    
            <div class="col-sm-12" >
                <div class="col-sm-3">.</div>       
            	<div id="zans6" class="zans col-sm-4"><p>G</p></div>
		        <div id="ztext_right" class="col-sm-3">e</div>
	    	    <div id="zblank7" class="zblank col-sm-2"></div>
                <div id="ans_area" class="col-sm-3" h3></div>	
	        </div>  
            
            <div class="col-sm-12" ><hr/></div>
           
            
            
    {% endblock %}

</body>
    {% block l2_eng_001_match_header %}  
	   <script type="text/javascript">
	         localStorage.setItem("pos1",6);
	         localStorage.setItem("pos2",7);
             localStorage.setItem("pos3",4);
             localStorage.setItem("pos4",3);	     
             localStorage.setItem("pos5",2);
             localStorage.setItem("pos6",1);
             localStorage.setItem("pos7",5);
         </script>
    {% endblock %}
</html>
