<!DOCTYPE html>
 {% extends 'etests/l2_eng_005_missingalphabet.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block l2_eng_005_missingalphabet_test %}
            <div class="col-sm-12">
                <div class="col-sm-2">.</div> 
                <div id="ztext_right" class="col-sm-1">s</div>
                <div id="zblank1" class="zblank col-sm-6"></div>	    
                <div id="ztext_right" class="col-sm-1">u</div>
                <div id="ztext_right" class="col-sm-1">v</div>
                <div id="zblank2" class="zblank col-sm-6"></div>
                <div id="ztext_right" class="col-sm-1">x</div>          
                <div id="ztext" class="col-sm-1"></div>
            
            </div>

            <div class="col-sm-12" ><hr/></div>
           <div class="col-sm-12">
                <div class="col-sm-2">.</div>            
                <div id="zans0" class="zans col-sm-2"><p>f</p></div>
                <div id="ztext_right" class="col-sm-1">/</div>
                <div id="zans1" class="zans col-sm-2"><p>t</p></div>
                <div id="blank_dot" class="col-sm-1">.</div>
                <div id="zans2" class="zans col-sm-2"><p>m</p></div>
                <div id="ztext_right" class="col-sm-1">/</div>
                <div id="zans3" class="zans col-sm-2"><p>w</p></div>
          </div>
            <div id="ans_area" class="col-sm-3" h3></div>
            
    {% endblock %}

</body>
	{% block l2_eng_005_missingalphabet_test_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",2);
		 localStorage.setItem("pos2",4);
	      </script>
        {% endblock %}


</html>
