<!DOCTYPE html>
 {% extends 'etests/l3_eng_006_a_an.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body>
       
    {% block l3_eng_006_a_an_test %}
           <div class="col-sm-12">
               <div class="col-sm-2">.</div>
                <div id="zblank1" class="zblank col-sm-1"></div>
                <div id="ztext_left" class="col-sm-6">car is on the road</div>
            </div>
            <div class="col-sm-12"><hr/></div>
            <div class="col-sm-12">
                <div class="col-sm-3">.</div>
                <div id="zans0" class="zans col-sm-2"><p>a</p></div>
                <div id="ztext_right" class="col-sm-1">/</div>
                <div id="zans1" class="zans col-sm-2"><p>an</p></div>
            </div>
            <div id="ans_area" class="col-sm-3" h3></div>
            
    {% endblock %}

</body>
	{% block l3_eng_006_a_an_test_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",1);
		 
	      </script>
        {% endblock %}

</html>
