<!DOCTYPE html>
 {% extends 'etests/l3_maths_003_afternum.html' %}

<head>
    {% load staticfiles %}
    
</head>

<body >
       
    {% block l3_maths_003_afternum_test %}
            <div class="col-sm-12">
                <div id="blank_dot" class="col-sm-3">.</div>
                <div id="ztext_right" class="col-sm-2">76</div>	    
                <div id="zblank1" class="zblank col-sm-6"></div>
              
            </div>
            <div class="col-sm-12" ><hr/></div>
            <div class="col-sm-12" > 
                <div id="blank_dot" class="col-sm-3">.</div>
                <div id="zans0" class="zans col-sm-4"><p>77</p></div>
                <div id="ztext_right" class="col-sm-1">/</div>
                <div id="zans1" class="zans col-sm-4"><p>75</p></div>
            </div>
            <div id="ans_area" class="col-sm-3" h3></div>
   
    {% endblock %}

</body>
	{% block l3_maths_003_afternum_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",1);
		 
	      </script>
        {% endblock %}


</html>
