<!DOCTYPE html>
 {% extends 'etests/l3_maths_013_expanded.html' %}

<head>
    {% load staticfiles %}
</head>

<body >
       
    {% block l3_maths_013_expanded_test %}
           <div class="col-sm-12" > 
                <div class="col-sm-3">.</div> 
                <div id="ztext_right" class="col-sm-2">39=</div>
                <div id="zblank1" class="zblank col-sm-2"></div>
                <div id="ztext" class="col-sm-1">+</div>
                <div id="zblank2" class="zblank col-sm-2"></div>
           </div> 
           <div class="col-sm-12" > 
                <div class="col-sm-3">.</div> 
	            <div id="zblank3" class="zblank col-sm-1"></div>
                <div id="zblank4" class="zblank col-sm-1"></div>
           </div>
            <div class="col-sm-12" ><hr/></div>
           
           <div class="col-sm-12" >
                <div class="col-sm-2">.</div>  
                <div id="zans0" class="zans col-sm-1"><p>30</p></div>
                <div id="ztext_right" class="col-sm-1">/</div>
                <div id="zans1" class="zans col-sm-1"><p>90</p></div>
	            <div id="ztext_right" class="col-sm-1">/</div>
                <div id="zans2" class="zans col-sm-1"><p>9</p></div>
	            <div id="ztext_right" class="col-sm-1">/</div>
                <div id="zans3" class="zans col-sm-1"><p>3</p></div>
                <div id="ztext_right" class="col-sm-1">/</div>
                <div id="zans4" class="zans col-sm-1"><p>3tens</p></div>
                <div id="ztext_right" class="col-sm-1">/</div>
                <div id="zans5" class="zans col-sm-1"><p>9units</p></div>
           </div>
            <div id="ans_area" class="col-sm-3" h3></div>
            
    {% endblock %}

</body>
    {% block l3_maths_013_expanded_test_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",5);
		 localStorage.setItem("pos2",6);
		 localStorage.setItem("pos3",1);
         localStorage.setItem("pos4",3);
	      </script>
    {% endblock %}
</html>
