<!DOCTYPE html>
 {% extends 'etests/convert_rupees_in_paise.html' %}

<head>
    {% load staticfiles %}
</head>

<body >
       
    {% block convert_rupees_in_paise_test %}
            
            <div id="ztext_right" class="col-sm-6">9rs. 35paise</div>
            <div id="zblank1" class="zblank col-sm-2"></div>
            

            
            <div class="col-sm-12" ><hr/></div>
           
            
            <div id="zans0" class="zans col-sm-2"><p>953</p></div>
            <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans1" class="zans col-sm-2"><p>935</p></div>
	    <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans2" class="zans col-sm-2"><p>945</p></div>

            <div id="ans_area" class="col-sm-3" h3></div>
            
    {% endblock %}

</body>
    {% block convert_rupees_in_paise_test_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",2);
		 
	      </script>
    {% endblock %}
</html>
