<!DOCTYPE html>
 {% extends 'etests/before_nos.html' %}

<head>
    {% load staticfiles %}
</head>

<body >
       
    {% block before_nos_test %}
            
            <div id="ztext_right" class="col-sm-2"></div>
            <div id="zblank1" class="zblank col-sm-2"></div>
            <div id="ztext" class="col-sm-1">9</div>

            
            <div class="col-sm-12" ><hr/></div>
           
            
            <div id="zans0" class="zans col-sm-2"><p>10</p></div>
            <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans1" class="zans col-sm-2"><p>8</p></div>

            <div id="ans_area" class="col-sm-3" h3></div>
            
    {% endblock %}

</body>
    {% block before_nos_test_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",2);
		 
	      </script>
    {% endblock %}
</html>
