<!DOCTYPE html>
 {% extends 'etests/multiplication.html' %}

<head>
    {% load staticfiles %}
</head>

<body >
       
    {% block multiplication_test %}
            
            <div id="ztext_right" class="col-sm-4">5*3=</div>
            <div id="zblank1" class="zblank col-sm-2"></div>
            <div id="ztext" class="col-sm-4"></div>

            
            <div class="col-sm-12" ><hr/></div>
           
            
            <div id="zans0" class="zans col-sm-2"><p>15</p></div>
            <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans1" class="zans col-sm-2"><p>14</p></div>
	    <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans2" class="zans col-sm-2"><p>20</p></div>

            <div id="ans_area" class="col-sm-3" h3></div>
            
    {% endblock %}

</body>
    {% block multiplication_test_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",1);
		 
	      </script>
    {% endblock %}
</html>
