<!DOCTYPE html>
 {% extends 'etests/skip_counting.html' %}

<head>
    {% load staticfiles %}
</head>

<body >
       
    {% block skip_counting_test %}
            
            <div id="ztext_right" class="col-sm-2">27</div>
            <div id="zblank1" class="zblank col-sm-2"></div>
            <div id="ztext" class="col-sm-1"></div>
	    <div id="zblank2" class="zblank col-sm-2"></div>
	    <div id="ztext" class="col-sm-1"></div>
	    <div id="zblank2" class="zblank col-sm-2"></div>

            
            <div class="col-sm-12" ><hr/></div>
           
            
            <div id="zans0" class="zans col-sm-2"><p>30</p></div>
            <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans1" class="zans col-sm-2"><p>33</p></div>
	    <div id="ztext_right" class="col-sm-1"></div>
            <div id="zans2" class="zans col-sm-2"><p>24</p></div>
	    <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans3" class="zans col-sm-2"><p>33</p></div>
	    <div id="ztext_right" class="col-sm-1"></div>
            <div id="zans4" class="zans col-sm-2"><p>36</p></div>
	    <div id="ztext_right" class="col-sm-1">/</div>
            <div id="zans5" class="zans col-sm-2"><p>39</p></div>

            <div id="ans_area" class="col-sm-3" h3></div>
            
    {% endblock %}

</body>
    {% block skip_counting_test_header %}  
	    <script type="text/javascript">
		 
		 localStorage.setItem("pos1",1);
		 localStorage.setItem("pos2",4);
		 localStorage.setItem("pos2",5);
		 
	      </script>
    {% endblock %}
</html>
