
<h2> Marks of [<b>{{ testset }}</b>] per User</h2>
			    
<table  class="table table-hover" >
<tbody>
    <colgroup>
	<col class="col-md-4">
	<col class="col-md-2">

    </colgroup>
  <tr class="info">
    <th>Student</th>
    <th>Total</th>
  </tr>
    {% for obj in ans_objs %}
	  <tr>
        {% for uobj in user_objs %}
            {% if obj.user_id == uobj.id %}
                <td> {{ uobj.username }}</td>
            {% endif %}
        {% endfor %} 
        <td> {{ obj.marks }} </td>
      </tr>
    {% endfor %} 
    
</tbody>
</table>

