<!DOCTYPE html>
{% extends "dmin/base.html" %}
<html>
    <head>
        <title>User Report</title>
	
    </head>
	
    <body>
    {% block mainbody_block %}
        {% block heading_block %}
            <div id="aheader">
                <h3>User Report</h3>
            </div>
        {% endblock %}
        <div class="col-sm-2" style="background-color:#eee; height:550px">
                {% include 'dmin/admin_menu.html' %}
        </div>
        <div class="col-sm-10">
                
                <div id="resultsarea" class ="col-sm-12">
			<div id="asection" class ="col-sm-3">
			   
			    <h2> </h2>
			   
    				{% csrf_token %}
				<label for="User">User </label>
				<select id="usrSelect" class="select form-control">
				{% for user in object_list %}	
					{% if user.first_name != 'Rahul' %}
						<option value="{{user.id}}">{{user}}</option>
					{% endif %}
				{% endfor %}
				</select>
				<br/><br/>
				<label for="TestSet">TestSet </label>
				<select id="testSelect" class="select form-control" onchange="getResult()">
				{% for testset in test_object_list %}	
					
					<option value="{{testset.id}}">{{testset.testname}}</option>
					
				{% endfor %}
				</select>
    				<br/><br/>
    							    
			    
			</div>
			<div id="userreport" class ="col-sm-9">
			    No data to show
			    
			    
			</div>
		</div>
	</div>
    {% endblock %}
    </body>
</html>






