<div class="row" style=" text-align:center; padding:5px">
    <div class="btn btn-default btn-sm" onclick="admin_nav(0)";>
        New
    </div>
    <div class="btn btn-default btn-sm" onclick="admin_nav(1)";>
        Save
    </div>
    <div class="btn btn-default btn-sm" onclick="admin_nav(2)";>
        Cancel
    </div>
    <div class="btn btn-default btn-sm" onclick="admin_nav(3)";>
        First
    </div>
    <div class="btn btn-default btn-sm" onclick="admin_nav(4)";>
        Previous
    </div>
        <div class="btn btn-default btn-sm" onclick="admin_nav(5)";>
        Next
    </div>
    <div class="btn btn-default btn-sm" onclick="admin_nav(6)";>
        Last
    </div>
</div>