<!DOCTYPE html>
{% extends "base/profile_admin.html" %}
<html>
    <head>
        <title>Test Set Type</title>
    </head>

    <body>
    {% block mainbody_block %}
        {% block heading_block %}
            <div id="aheader">
                <h3>Test Sets</h3>
            </div>
        {% endblock %}
        {% include "base/admin_menu.html" %}

        {% load staticfiles %}

        <div id="asection">
            <div class="container">
                  <div class="row">
                    <div class="col-md-9">
                    <a class="btn btn-primary" href="{% url "testset_new" %}">Add Test Set</a>
                      <br><br>
                        <table  class="table table-hover" >
                        <tbody>
                            <colgroup>
                                <col class="col-md-2">
                                <col class="col-md-5">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-1">
                                <col class="col-md-1">
                            </colgroup>
                          <tr class="info">
                            <th>Test Set Code</th>
                            <th>Test Set Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                              <th>Edit</th>
                              <th>Delete</th>
                          </tr>

                            {% for testset in object_list %}
                                <tr>
                                    <td>{{ testset.code }}</td>
                                    <td>{{ testset.testname }}</td>
                                    <td>{{ testset.startdate }}</td>
                                    <td>{{ testset.enddate }}</td>
                                    <td>
                                        <a href="{% url "testset_edit" testset.id %}">{{ testset.code }}
                                            <img src="{% static "img/edit.png" %}" height="15" width="15" alt="Edit"></a>
                                    </td>
                                    <td> <a href="{% url "testset_delete" testset.id %}">delete
                                            <img src="{% static "img/delete.png" %}" height="15" width="15" alt="Delete"></a></td>
                                    {% empty %}
                                        No Test Set yet
                            {% endfor %}
                            </tr>
                            </tbody>
                        </table>

                    </div>
                  </div>
        </div>
    {% endblock %}
    </body>
</html>






