<!DOCTYPE html>
{% extends "base/profile_admin.html" %}
<html>
    <head>
        <title>Content</title>
    </head>

    <body>
    {% block mainbody_block %}
        {% block heading_block %}
            <div id="aheader">
                <h3>Edit Content</h3>
            </div>
        {% endblock %}
        {% include "base/admin_menu.html" %}

        {% load staticfiles %}

        <div id="asection">
        <a class="btn btn-primary" href="{% url "content_list" %}">Back to Content</a>
                      <br><br>
            <div class="container">
                  <div class="row">
                    <div class="col-md-7">

                            {% csrf_token %}
                            <form class="form-horizontal" method="post">{% csrf_token %}
                               <h3> Are you sure you want to delete <b> "{{ object }}" </b> ?
                               </h3>
                                   <br> <br>
                                <input class="btn btn-info" type="submit" value="Submit" />
                            </form>


                    </div>
                  </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>









