<div id="anav">
    <h5>Admin Activities</h5>
    <hr/>
    <u><h6>User</h6></u>
    <a href="/base/users/">Users</a><br/>
    <a href="/base/register/">Add Group</a><br/>
    <a href="/base/register/">Add Permission</a>
    <br/>
    <u><h6>Academic</h6></u>
    <a href="/c/add_contenttype/">Academic Duration</a><br />
    <a href="/c/add_contenttype/">Current Academic Duration</a><br />
    <u><h6>Content</h6></u>
    <a href="/c/contenttype/">Content Type</a><br />
    <a href="/c/content/">Content</a><br />
    <u><h6>Tests</h6></u>
    <a href="/t/testset/">Test Set</a><br />
    <a href="/t/testq/">Test Questions</a><br />
    
</div>