{% load staticfiles %}

<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/slick.min.js" %}"></script>
<script src="{% static "js/placeholdem.min.js" %}"></script>
<script src="{% static "js/rs-plugin/js/jquery.themepunch.plugins.min.js" %}"></script>
<script src="{% static "js/rs-plugin/js/jquery.themepunch.revolution.min.js" %}"></script>
<script src="{% static "js/waypoints.min.js" %}"></script>
<script src="{% static "js/scripts.js" %}"></script>
<script src="{% static "js/modernizr.custom.32033.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/addsol.js" %}"></script>


<script>
    $(document).ready(function() {
        appMaster.preLoader();
    });
</script>