<!DOCTYPE html>
{% extends "base/aboutus.html" %}
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Tiny Totts</title>
    </head>

    <body>
        {% block mainbody_block %}
            <h1>Tiny Totts - Guest</h1>
                <br/>
                This will have some general writeup about Tiny Totts for guests.
                And a link to login, if want to access resgricted matarial.
        {% endblock %}
    </body>
</html>