<style>
#dummy {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#aheader {
    background-color:#dddddd;
    color:#ffffff;
    text-align:center;
    padding:5px;
}
#anav {
    line-height:30px;
    background-color:#dddddd;
    width:200px;
    float:left;
    padding:5px;
}
#asection {
    width:350px;
    float:left;
    padding:10px;
}
#afooter {
    background-color:#dddddd;
    color:#666666;
    clear:both;
    text-align:center;
    padding:5px;
}

</style>